---
layout: default
title: 关于我
describer: 我的自我介绍还有朋友的友链
---
{% include navbar.html %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item ">
            <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide"
                 src="/publics/images/image1.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1>程序员生活</h1>
                    <p>记录点点滴滴，生活中的每一小步</p>
                </div>
            </div>
        </div>
        <div class="item active">
            <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide"
                 src="/publics/images/image2.gif">

            <div class="container">
                <div class="carousel-caption">
                    <h1>与自己赛跑</h1>
                    <p>最大敌人就是自己的惰性</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
            class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span
            class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div class="container marketing">
    <div class="row">
        <div class="row featurette">
            <hr class="featurette-divider">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" data-src="holder.js/300x300" alt="300x300"
                     src="http://img16.poco.cn/mypoco/myphoto/20141204/14/17479142020141204145318035.gif?460x459_110" style="width: 300px;height: 300px">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">自我介绍 <span class="text-muted">Self introduction</span></h2>

                <p >
                  我喜欢ruby的语法灵活性，ruby社群的专业性
                  以及ruby社群人的活跃和锐利的思想，ruby带给我是对
                  OO思想的彻底颠覆和重新认识，我也喜欢javascript，
                  他总能带给我惊喜，发现javascript其实也不简单，匿名函数是
                  他基本常用范式，体验函数式编程乐趣，为了生活，现在用python，越发发现语言都是
                  其次，背后的模式和哲学才是程序员提升之路! 我的技术点如下
                <p>
                <ul>
                    <li>1.ruby & ROR </li>
                    <li>2.JS css html </li>
                    <li>3.Python & django</li>
                    <li>4.linux fans</li>
                </ul>
                <p> 其余我也喜欢摄影和驴友，爱游泳，喜欢Rock，jazz风格音乐</p></p>
                <p>如果你想找我交流，或是想给我活干可以用下面方式联系我</p>

                <p>电子邮箱:<code>songyuchaoemail@163.com</code></p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="text-align:center ;">
            <hr class="featurette-divider">
            <h3 class="glyphicon glyphicon-arrow-down">下面是友链</h3>
            <hr class="featurette-divider">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
            <img class="img-circle " data-src="holder.js/140x140" alt="140x140"
                 src="http://img16.poco.cn/mypoco/myphoto/20141204/14/17479142020141204145535096.png?331x401_130" style="width: 140px; height: 140px;">

            <h2>李江华的博客<span class="text-muted">links</span></h2>

            <p>ruby on rails程序猿，典型高富帅</p>

            <p><a class="btn btn-default" target="_blank" href="http://ginchenorlee.com/" role="button">去瞅瞅 »</a></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
            <img class="img-circle " data-src="holder.js/140x140" alt="140x140"
                 src="http://img16.poco.cn/mypoco/myphoto/20141204/14/17479142020141204145658094.jpg?180x180_120" style="width: 140px; height: 140px;">

            <h2>张强的博客<span class="text-muted">links</span></h2>

            <p>Ruby程序员一枚，标准程序猿，苹果fans</p>

            <p><a class="btn btn-default" target="_blank" href="http://simlegate.com/" role="button">去瞅瞅 »</a></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
            <img class="img-circle " data-src="holder.js/140x140" alt="140x140"
                 src="http://img16.poco.cn/mypoco/myphoto/20141204/14/17479142020141204145554017.jpg?400x400_120" style="width: 140px; height: 140px;">

            <h2>唐久军的博客<span class="text-muted">links</span></h2>

            <p>标准程序员，苹果fans</p>

            <p><a class="btn btn-default" target="_blank" href="http://blog.tangjiujun.com/" role="button">去瞅瞅 »</a></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
            <img class="img-circle " data-src="holder.js/140x140" alt="140x140"
                 src="https://avatars1.githubusercontent.com/u/4556138?v=2&s=460" style="width: 140px; height: 140px;">

            <h2>陈立的博客<span class="text-muted">links</span></h2>

            <p>以前的同事,会多门编程语言,另外他害羞，头像不是他</p>

            <p><a class="btn btn-default" target="_blank" href="http://blog.lvelyn.com" role="button">去瞅瞅 »</a></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
            <img class="img-circle " data-src="holder.js/140x140" alt="140x140"
                 src="http://img16.poco.cn/mypoco/myphoto/20150401/22/17479142020150401220802072.jpg?55x55_120" style="width: 140px; height: 140px;">

            <h2>周浩的博客<span class="text-muted">links</span></h2>

            <p>.net程序员,拥有众多企业级运用经验</p>

            <p><a class="btn btn-default" href="http://itdos.com/" role="button">去瞅瞅 »</a></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
            <img class="img-circle " data-src="holder.js/140x140" alt="140x140" target="_blank"
                 src="http://img16.poco.cn/mypoco/myphoto/20141204/14/17479142020141204145351079.gif?582x824_110" style="width: 140px; height: 140px;">

            <h2>未知博客<span class="text-muted">links</span></h2>

            <p>我只是站位子布局好看而已</p>

            <p><a class="btn btn-default" href="#" role="button">去瞅瞅 »</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="text-align:center ;">
            <hr class="featurette-divider">
            <h3 class="glyphicon glyphicon-arrow-down">下面是留言版</h3>
            <hr class="featurette-divider">
        </div>
        <div class="col-md-12 col-sm-12 col-xs-4 col-lg-12">
            <div class="ds-thread" data-thread-key="123456789xxx" data-title="关于我"
                 data-url="http://www.songyuchao.com/about.html"></div>
        </div>
    </div>
    <hr class="featurette-divider">
    <hr class="featurette-divider">
</div>
</br>
</br>
</br>
{% include footer.html %}
