---
layout: default
---
<nav class="left_category navbar-example">
    <a class="glyphicon glyphicon-arrow-left category_switch" href="#category">博客种类</a>
    <ul id="category" class="nav nav-stacked nav-pills  nav-tabs">
        {% for category in site.category-list %}
        <li><a href="#{{ category }}" class="">{{ category }}(有{{ site.categories[category] | size }}篇)</a></li>
        {% endfor %}
    </ul>
</nav>
<div id="posts" class="left_posts_list ">
    <li class="glyphicon glyphicon-align-justify">博客目录</li>
    {% for category in site.category-list %}
    {% for post in site.categories[category] %}
    <ul class="nav nav-tabs posts_hide" id="{{ category }}">
        <li>
            <a href="{{ post.url }}" onclick="return false">{{ post.title }}{{ post.date }}</a>
        </li>
    </ul>
    {% endfor %}
    {% endfor %}
</div>
<div class="post">
    <div class="show_post ">
        <a>你还没有选择要看的文章</a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var category_switch = $(".category_switch")
        var pushOrPull = new PullOrPush(".category_switch")
        var displayMode = new DisplayMode()
        category_switch.click(function () {
            if (pushOrPull.getStatus("glyphicon-arrow-left")) {
                pushOrPull.show(function (link) {
                    displayMode.openUp()
                })

            } else {
                pushOrPull.hide(function (link) {
                   displayMode.shutDown()
                })


            }
        })
        $("#category li a").each(function () {
            var hideOrShow = new PullOrPush("[href=" + $(this).attr("href") + "]")
            $(this).click(function () {
                if (hideOrShow.getStatus("marker_color")) {
                    hideOrShow.show(function (link) {
                        link.addClass("marker_color")
                    })
                } else {
                    hideOrShow.hide(function (link) {
                        link.removeClass("marker_color")
                    })
                }
            })
        })
        $("#posts ul li a").each(function () {
            var load = new LoadHtml(this)
            var html = new AlterHtml(".show_post")
            $(this).click(function () {
                load.getServer(function (result) {
                    html.removeHtml()
                    html.addHtml(result)
                    displayMode.shutDown()
                })
            })
        })
    })

</script>