<!--博客上边导航栏-->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="padding-left:15px;">
            <a class="navbar-brand site-logo " href="/"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-text-shadow">
                <li class="active text-show-shadow"><a class="f18 b" href="/" >博文</a></li>
                <li><a class="f18 b" href="/photo_wall.html">照片墙</a></li>
                <li><a class="f18 b" href="/about.html">关于我</a></li>
                <li><a class="f18 b" href="/project.html">我的作品</a></li>
                <li><a class="f18 b" href="/sitemap.xml">站点地图</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> 
                <form class="navbar-form navbar-left" role="search" id="search_form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入搜索关键字" id="search_input">
                    </div>
                    <button type="submit" class="btn btn-default" id="search_submit">搜一下</button>
                </form>
                </li>
                <li><a href="/">© 2014 JackSong </a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>
