<!--博客上边导航栏-->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="padding-left:20px;">
            <a class="navbar-brand site-logo " href="/"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-text-shadow">
                <li><a class="f18 b" href="/">博文</a></li>
                {% if page.title == "小宋的照片墙" %}
                <li class="active text-show-shadow">
                 {% else %}
                 <li>
                {% endif %}
                    <a class="f18 b" href="/photo_wall.html">照片墙</a></li>
                {% if page.title == "关于我" %}
                <li class="active text-show-shadow">
                    {% else %}
                <li>
                    {% endif %}
                <a class="f18 b" href="/about.html">关于我</a></li>
                {% if page.title == "小宋的作品" %}
                <li class="active text-show-shadow">
                    {% else %}
                <li>
                    {% endif %}
                <a class="f18 b" href="/project.html">我的作品</a></li>
                <li><a class="f18 b" href="/sitemap.xml" >站点地图</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">©2014 JackSong({{ site.time | date: "%Y年%m月%d日 %H时%M分" }}更新)</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>
