<!--侧边文章种类菜单-->
<nav class="left_category navbar-example">
    <a class="glyphicon glyphicon-arrow-left category_switch" >关闭种类</a>
    <ul id="category" class="nav nav-stacked nav-pills  nav-tabs">
        {% for category_name in site.category-list %}
        <li><a href="#{{ category_name }}" class="">{{ category_name }}<span class="badge">有{{ site.categories[category_name] | size }}篇</span></a>
        </li>
        {% endfor %}
    </ul>
</nav>
<!--博客目录菜单-->
<div id="posts" class="left_posts_list ">
    <li class="glyphicon glyphicon-align-justify">博客目录</li>
    {% for category_name in site.category-list %}
    {% for post in site.categories[category_name] %}
    <ul class="nav nav-tabs posts_hide" id="{{ category_name }}">
        <li>
            <a href="{{ post.url }}" onclick="return false">{{ post.title }}（{{ post.date | date: "%Y-%m-%d" }}）</a>
        </li>
    </ul>
    {% endfor %}
    {% endfor %}
</div>
<!--正文显示-->
<div id="post">
    <div class="progress_layout progress progress-striped active" style="display: none;">
        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
             style="width: 100%">
        </div>
    </div>
    <div id="show_post" class="show_post ">
        <abbr class="text-danger" title="attribute">亲！！！你还没有选择要看的文章~~</abbr>
    </div>
</div>
 <!--侧边便签块-->
<div class=sidebar_right_menu>
    <a id="open_sidebar" href="#recent">最近文章</a>
</div>
<!--最近文章-->
<div id="recent">

    <ul>
        {% for post in site.posts  %}
        <li>
            <a href="{{ post.url}}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>

</div>>