<!--侧边文章种类菜单-->
<div class="left_category " id="category_menu">
    <a class="btn btn-warning  glyphicon glyphicon-minus   category_switch " style="width: 100%" type="button">关闭种类</a>
    <ul id="category" class="nav nav-stacked nav-pills  nav-tabs">
        {% for category_name in site.category-list %}
        <li><a data-url="#{{ category_name }}" class="">{{ category_name }}<span class="badge">有{{ site.categories[category_name] | size }}篇</span></a>
        </li>
        {% endfor %}
    </ul>
</div>>btn-info
<!--博客目录菜单-->
<div id="posts" class="left_posts_list ">
    <a class="btn btn-info glyphicon  glyphicon-book " type="button" style="width: 100%">博客目录</a>
    {% for category_name in site.category-list %}
    <ul class="nav nav-tabs posts_hide" id="{{ category_name }}">
    {% for post in site.categories[category_name] %}
        <li>
            <a href="{{ post.url }}" onclick="return false">{{ post.title }}（{{ post.date | date: "%Y-%m-%d" }}）</a>
        </li>
    {% endfor %}
    </ul>
    {% endfor %}
</div>
<!--正文显示-->
<div id="post">
    <div class="progress_layout progress progress-striped active" style="display: none;">
        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
             style="width: 100%">
        </div>
    </div>
    <div id="show_post" class="show_post ">
        <table class="table table-hover">
            <thead><h2>文章列表<small>Posts List</small></h2></thead>
            <tbody >{% for post in site.posts %}
            <tr><td><h3>{{ post.title }}<small>{{ post.category }}</small></h3></br>
                <time class="glyphicon glyphicon-time">{{ post.date | date: "%Y-%m-%d" }}</time></br><p class="glyphicon glyphicon-info-sign">{{ post.describer }}</p>
                </br><a href="{{ post.url }}" class="btn btn-success" onclick="return false">开始阅读</a></td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--侧边便签块-->
<div class=sidebar_right_menu>
    <a id="open_sidebar" href="#recent">最近文章</a>
</div>
<!--最近文章-->
<div id="recent">

    <ul>
        {% for post in site.posts %}
        <li>
            <a href="{{ post.url}}" onclick="return false">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
