@navbar-backgrouder: #C4C4C4;
@offset-padding: 15px;
.logo {
    width: 100%;
    height: 100%;
}
.navbar{
    background: @navbar-backgrouder;
}
.heard-style{
    margin: 0 auto;
    width: 100%;
}
.photo{

}
body{
  padding-bottom: 70px;
}
.photo_wall{
  color:#000;
  font-family: Georgia, "Times New Roman",sans-serif;
  font-size:12px;
  background:#f7f7f7 url("../images/wall.jpg") repeat top left;
}
.content {
  padding: 0 @offset-padding;
}