@navbar-backgrouder: #C4C4C4;
@offset-padding: 15px;
@posts-backgrouder-color: #D5D5D5;
@left_category_widht: 10%;
.left_category_basic(@width: @left_category_widht) {
  position: fixed;
  left: 0;
  width: @width;
  height: 100%;
  top: 0;
  background-color: #DDDDDD;
}

.left_posts_basic(@left: @left_category_widht,@width: 20%) {
  position: fixed;
  left: @left;
  height: 100%;
  width: @width;
  background-color: @posts-backgrouder-color;
  overflow: auto;
}

.hide() {
  display: block;
  overflow: hidden;
  width: 10px;
  height: 0;
}

.logo {
}

.navbar {
  background: @navbar-backgrouder;
}

.heard-style {
  margin: 0 auto;
  width: 100%;
}

.photo {

}

body {
  padding-bottom: 4%;
}

.photo_wall {
  color: #000;
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 12px;
  background: #f7f7f7 url("http://img227.poco.cn/mypoco/myphoto/20140517/17/17479142020140517170530083.jpg") repeat top left;
//  height: 720px;
}


.left_category {
  .left_category_basic()
}

.left_category_hide {
  .left_category_basic(5%);
}

.left_posts_list {
  .left_posts_basic()
}

.left_posts_list_hide {
  .left_posts_basic(5%)
}

#post {
  .left_posts_basic(30%, 70%);
  background-color: #ffffff;
  overflow: auto;
}

.show_post {
  padding: 10% 9% 10% 0;
}

.show_post abbr {
  margin: 0 auto 0 40%;
}

.posts_hide {
  .hide
}

.categories_hide {
  .hide
}

.marker_color {
  background-color: #66B3FF;
}

#myModal {
  margin: 25% 10% 0 0;
  overflow: visible
}

.progress_layout {
  margin: 30% 20% 40% 20%
}

.identifiers {
  text-align: right;
  padding-top: 8px;
  padding-right: 10px;
}

.duoshuo {
  padding: 5% 5% 10% 5%;
}

.avatar {
  position: relative;
  margin: 72px 0 0 10%;
  width: 12%;
  -moz-border-radius: 12px;
  -webkit-border-radius: 50%;
  -webkit-border-bottom-left-radius: 10%;
  z-index: 2;
}

.about {
//  position: fixed;
//  width: 100%;
//  top: 10%;
//  z-index: 9999;
  background-color: #426ab3;
  filter: alpha(Opacity=40);
  -moz-opacity: 0.6;
  opacity: 0.91;
}

.describe {

}

.describe p, .describe ul li, .describe h2 {
  color: #ffffff;
}

.back-image {
  position: fixed;
}

.sidebar_right_menu {
  height: 80px;
  width: 20px;
  top: 10%;
  right:0px;
  position:fixed;
  background-color: #CC0033;
  text-align: center;
}