<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/publics/favicon.ico" type="image/x-icon" />
    <title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/publics/main.css">
  </head>

  <body>
    <div class="header">
    </div>

    <div class="content">
      {{ content }}
    </div>

    <div class="footer center">
      <span class="nowrap">
        文章统计：{{ site.posts || size }}篇，最后更新时间：{{ site.time | date: "%Y-%m-%d" }}
      </span>
    </div>

  </body>
</html>
