<!DOCTYPE html>
<html lang="zh-cn">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
      charset="utf-8">
<head>
    <title>小宋的博客</title>
    <meta name="description" content="一个rails ，web前端开发，喜欢摄影，喜欢美好事物的程序猿">

    <link rel="stylesheet" type="text/css" href="/publics/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/publics/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/publics/stylesheets/style.css">
    <link rel="stylesheet/less" type="text/css" href="/publics/stylesheets/default.css.less">
    <link rel="stylesheet" type="text/css" href="/publics/stylesheets/reset.css">
    <link rel="stylesheet/less" type="text/css" href="/publics/stylesheets/jquery.sidr.light.css">
    <script src="/publics/javascript/jquery-1.11.0.min.js"></script>
    <script src="/publics/javascript/bootstrap.min.js"></script>
    <script src="/publics/javascript/less-1.5.0.min.js"></script>
    <script src="/publics/javascript/jquery.easing.1.3.js"></script>
    <script src="/publics/javascript/jquery.masonry.min.js"></script>
    <script src="/publics/javascript/jquery.sidr.min.js"></script>
    <script src="/publics/javascript/displayModel.js"></script>
    <script>var duoshuoQuery = {short_name: "jacksong"};</script>
    <script src="http://static.duoshuo.com/embed.js"></script>
    <script src="/publics/javascript/blog.js"></script>
    <script src="/publics/javascript/jquery.lazyload.min.js"></script>
    <script src="/publics/javascript/photo.show.js"></script>

</head>

<body class="container-fluid">
{{ page.tags }}
{{ content }}
<!--博客下边导航栏-->
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">小宋的博客</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">博文</a></li>
                <li><a href="/photo_wall.html">照片墙</a></li>
                <li><a href="/about.html">关于我</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">© 2014 JackSong ({{ site.time | date: "%Y年%m月%d日 %H时%M分" }}更新)</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

</body>
</html>
