<!DOCTYPE html>
<html lang="zh-cn">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
      charset="utf-8">
<head>
    {{ if page.title }}
    <title>{{ page.title }}</title>
    {{ else }}
    <title>小宋的博客</title>
    {{ endif }}

    <link rel="stylesheet" type="text/css" href="/publics/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/publics/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/publics/stylesheets/style.css">
    <link rel="stylesheet/less" type="text/css" href="/publics/stylesheets/default.css.less">
    <link rel="stylesheet/less" type="text/css" href="/publics/stylesheets/jquery.sidr.light.css">
    <script src="/publics/javascript/jquery-1.11.0.min.js"></script>
    <script src="/publics/javascript/bootstrap.min.js"></script>
    <script src="/publics/javascript/less-1.5.0.min.js"></script>
    <script src="/publics/javascript/jquery.easing.1.3.js"></script>
    <script src="/publics/javascript/jquery.masonry.min.js"></script>
    <script src="/publics/javascript/jquery.sidr.min.js"></script>
    <script src="/publics/javascript/displayModel.js"></script>
    <script>var duoshuoQuery = {short_name:"jacksong"};</script>
    <script src="http://static.duoshuo.com/embed.js"></script>
    <script src="/publics/javascript/blog.js"></script>

    {{ if page.title == "小宋的照片墙" }}
    <link rel="stylesheet" type="text/css" href="/publics/stylesheets/reset.css">
    <script src="/publics/javascript/jquery.lazyload.min.js"></script>
    <script src="/publics/javascript/photo.show.js"></script>
    {{ endif }}
</head>

<body class="container-fluid">
{{ content }}
<!--博客下边导航栏-->
<nav class="navbar navbar-collapse navbar-default navbar-fixed-bottom navbar-color" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/index.html">博客</a></li>
        <li><a href="/photo_wall.html">我的“旅图”</a></li>
        <li><a href="/about.html">关于我</a></li>
    </ul>
    <h5 class="identifiers">© 2014 JackSong 美国时间({{ site.time | date: "%Y年%m月%d日 %H时%M分" }}更新)</h5>
</nav>
</body>
</html>
